<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/"><i class="fas fa-video"></i>IzMovies</a>

  <!-- Botón para colapsar la barra de navegación en dispositivos móviles -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="form-inline my-2 my-lg-0">

      <!-- Cuadro de búsqueda con la clase personalizada -->
      <input #txtBuscar class="form-control input-buscar mr-sm-2" type="search" (keyup.enter)="buscarPelicula(txtBuscar.value)"
        placeholder="Buscar...">

      <!-- Botón de búsqueda con la clase personalizada -->
      <button class="btn btn-buscar my-2 my-sm-0" type="submit"
        (click)="buscarPelicula(txtBuscar.value)">Buscar</button>
    </div>
  </div>
</nav>
